.content-container {
    background-color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 0.5rem;
}

/* Grey every other table element */
table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:hover{
    background-color: hsl(259, 84%, 83%);;
}