.content-container {
    background-color: white;
}

.data-displayer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
}

.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}