.new-event-form, .new-list-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

textarea:invalid {
    border: 1px solid rgba(255, 0, 0, 0.5);
} */

.invalid {
    border: solid rgba(255, 0, 0, 0.5);
}

textarea {
    font-family: inherit;
}

input {
    font-family: inherit;
}