.nav-bar {
    background-color: hsl(270, 12%, 90%);
    padding: 32px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* .nav-bar li {
    margin: 0px 0px 8px 0px;
} */

li {
    margin: 5px 20px;
    font-size: 0.9rem;
}

.list-label {
    position: relative;
    padding: 10px;
}

.list-label::before {
    content: '+';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.active .list-label::before {
    content: '-';
}

.list-container {
    height: 0;
    overflow: hidden;
}

#home-lists.active .list-container, #user-lists.active .list-container {
    height: auto;
    /* overflow: auto; */
}

.list-label:hover {
    background-color: hsl(270, 12%, 95%);
}